<HTML>
<HEAD>
<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" ></script>
<script src="http://appcosa.com/lib/jcanvas.min.js"></script>

<script>
function getResults() {
 $.ajaxSetup({
 
 	async: true,
 	cache: false,
 	dataType: "json",
 	success: showResults,
 	url: "/execute/QuarkControl?spin="+$('#spinfilter').val()+"&mass="+$('#massfilter').val()
 
 	});

  $.ajax();

}


function showResults(result) {
  j$('#sizeOfUniverse').html(result.length);
  j$('canvas.test').clearCanvas();
  
  var centerX = 650/2;
  var centerY = 450/2;
  var quad = 1;
  for(var i = 0; i < result.length; i++) { //>
   if(result[i].Spin__c <= 0.25) { //>
    x = centerX + i;
    y = centerY + i;
   }
   
   else if(result[i].Spin__c <= 0.50) { //>
    x = centerX + i;
    y = centerY - i;
   }
   
   else if(result[i].Spin__c <= 0.75) { //>
    x = centerX - i;
    y = centerY + i;
   }
   
   else {
    x = centerX - i;
    y = centerY - i;
   }
   
   j$('canvas.test').drawArc({
    fillStyle: '#333',
      x: x, y: y,
      radius: result[i].Mass__c * 7.25,
   });
 
  }
 }
 
 $(document).ready(getResults());

</script>

</HEAD>
<BODY>
Spin: <SELECT id="spinfilter" onchange="geResults()">
	  <option>1.0</option>
	  <option>0.9</option>
	  <option>0.8</option>
	  <option>0.7</option>
	  <option>0.6</option>
	  <option>0.5</option>
	  <option>0.4</option>
	  <option>0.3</option>
	  <option>0.2</option>
	  <option>0.1</option>
	  </SELECT>

Mass: <SELECT id="massfilter" onchange="geResults()">
	  <option>1.0</option>
	  <option>0.9</option>
	  <option>0.8</option>
	  <option>0.7</option>
	  <option>0.6</option>
	  <option>0.5</option>
	  <option>0.4</option>
	  <option>0.3</option>
	  <option>0.2</option>
	  <option>0.1</option>
	  </SELECT> 

<span id="sizeOfUniverse"></span> quarks found.	<span id="savingUniverse"></span> 
<HR /> 
<canvas class="test" height="450" style="background-color: white; border: 1px solid black;" width="650"></canvas> 
	

</BODY>



</HTML>